<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>KhmerApp</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Developed by <a href="#">KhmerApp</a>
    </div>
</footer><!-- End Footer -->
